
  <h1>Here is your tasks list: </h1>

  <%= link_to "Create a new task", new_task_path %>

  <% @tasks.each do |task| %>
    <h2> <%= task.task %> </h2>
    <p><%=link_to "More details about this task", task_path(task) %></p>
    <p><%= link_to "Edit this task", edit_task_path(task) %></p>
    <p><%= link_to "Delete task", task_path(task), method: :delete, data: { confirm: "Are you sure?"} %></p>
    <br>
  <% end %>



